.AddContent {
  color: var(--primary--dark);

  text-align: right;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
  padding: 0 10%;
}

.AddTitle {
  text-align: center;
  padding-top: var(--pageTopPadding);
}

.AddInput {
  border-radius: 10px;
  background: var(--primary--dim);
  width: 971px;
  max-width: 80%;
  height: 27px;
  border: none;
  margin: var(--s);
}

.AddDescription {
  border-radius: 10px;
  background: var(--primary--dim);
  width: 1000px;
  height: 142px;
  border: none;
  margin: var(--s) var(--s) 0 var(--s);
  font-family: "Lato";
  max-width: 80%;
}

.AddStarsContainer {
  display: flex;
  justify-content: right;
}

.AddStars {
  display: flex;
}

.AddStarButton {
  border: none;
  background-color: white;
  font-size: 15px;
  color: #56478f;
  cursor: pointer;
}

.AddStarButtonContainer :hover {
  color: var(--primary--dark);
  font-weight: 900;
}

.AddTags {
  border-radius: 10px;
  background: var(--primary--dim);
  height: 27px;
  border: none;
  margin: var(--s);
  width: 100px;
  cursor: pointer;
}

.AddedTags {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
}

.AddedTagContainer {
  margin: 5px;
  border-radius: 10px;
}
.AddedTag {
  color: #fff;

  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 10px;
  border: none;
  background: var(--tagcolor);

  height: 27px;

  cursor: pointer;
}

#newTagInput {
  width: 100px;
  height: 26px;
}

.AddButton {
  border-radius: 10px;
  background: var(--primary);

  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin: var(--s);
  cursor: pointer;
  padding: auto;
}

.AddPrivate {
  justify-content: right;
  margin: 8px;
}

.AddPrivateElement {
  margin: var(--s);
}

.switch {
  width: 60px;
  height: 34px;
  background-color: var(--primary--dim);
  border-radius: 30px;
  border: none;
  color: white;
  display: inline-block;
  text-align: center;
  position: relative;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: none;
  border-radius: 30px;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.LargeAddButton {
  width: 40px;
  height: 27px;
  font-size: 15px;
  font-family: "Lato";
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  margin: 10px 4px 5px 0px;
  background: var(--primary);
  color: white;
  text-align: left;
  justify-content: left;
}

.AddButtonContainer {
  text-align: center;
}
