.AddContent {
  color: var(--primary--dark);

  text-align: right;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 10%;
}

.AddTitle {
  text-align: center;
}

.AddInput {
  border-radius: 10px;
  background: var(--primary--dim);
  width: 971px;
  max-width: 80%;
  height: 27px;
  border: none;
  margin: var(--s);
}

.AddDescription {
  border-radius: 10px;
  background: var(--primary--dim);
  width: 1000px;
  height: 142px;
  border: none;
  margin: var(--s) var(--s) 0 var(--s);
  font-family: "Lato";
  max-width: 80%;
}

.AddStarButton {
  border: none;
  background-color: white;
  font-size: 15px;
  color: #56478f;
}

.AddTags {
  border-radius: 10px;
  background: var(--primary--dim);
  height: 27px;
  border: none;
  margin: var(--s);
  width: 100px;
}

.AddedTag {
  color: #fff;

  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 10px;
  border: none;
  background: var(--tagcolor);
  margin: 5px;

  height: 27px;
}

#newTagInput {
  width: 100px;
  height: 26px;
}

.AddButton {
  border-radius: 10px;
  background: var(--primary);
  width: 30px;
  height: 27px;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin: var(--s);
}

.LargeAddButton {
  width: 45px;
}

.AddButtonContainer {
  text-align: center;
}
