.CommunityTitle {
  text-align: center;
  padding-top: var(--pageTopPadding);
}

.SortButtonText {
  border-radius: 10px;
  width: 40px;
  height: 24px;
  margin-top: 4px;
  padding-top: 3px;
  background-color: var(--primary);
  cursor: pointer;
}

.CommunitySortContainer {
  margin: 20vw 24vw 0vw 24vw;
  width: 20vw;
  border-radius: 10px;
  word-break: break-word;
  position: fixed;
}

.CommunitySortContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.CommunityBarSort {
  padding: 4.5px;
  width: 40px;
  flex: none;
  background-color: white;
  align-items: center;
}

.CommunitySearch {
  margin-left: 10px;
  width: 64vw;
}
