.CommunityTitle {
  text-align: center;
  padding-top: var(--pageTopPadding);
}

.SortButtonText {
  border-radius: 10px;
  width: 40px;
  height: 24.5px;
  margin-top: -6.5px;
  padding-top: 1.5px;

  background-color: var(--primary);
  cursor: pointer;
}

.CommunitySortContainer {
  margin: 20vw 24vw 0vw 24vw;
  width: 20vw;
  border-radius: 10px;
  word-break: break-word;
  position: fixed;
}

.CommunitySortContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.CommunityBarSort {
  padding: 4.5px;
  padding-right: 10px;
  width: 70px;
  height: 50px;
  flex: none;
  background-color: white;
  align-items: center;
  color: white;
  flex-shrink: 0;
  border: none;

  font-family: "Lato";
  font-size: 15px;
}

.CommunitySearch {
  margin-left: 0px;
  width: 64vw;
}
