.HomeTitle {
  padding: 15px 0px 5px 0px;
}
.HomeFavoriteItemContainer {
  width: 70%;
  border-width: 4px;
  border-color: var(--primary);
  border-style: solid;
  border-radius: 16px;

  display: block;
  margin: 1% auto;
  padding: 1%;
}

.smallTexts {
  text-align: right;
  flex-grow: 1;
  color: var(--primary);
  margin: var(--s);
}

.smallText {
  margin: 5px;
  text-decoration: none;
}
.editButton {
  color: var(--primary);
}

.editButton :visited {
  color: var(--primary);
}

.HomeDelete {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Lato", sans-serif;
  font-weight: 350;
  font-size: 17px;
  color: var(--primary);
  cursor: pointer;
}
