.Profile {
  display: flex;
  margin: 2% 6%;
}
.ProfileLeftColumn {
  margin: var(--l);
}
.ProfileRightColumn {
  margin: var(--l);
  flex: auto;
}
.ProfilePicture {
  border-radius: 100%;
  width: 40vw;
  height: 40vw;
  object-fit: cover;
}

.Profile a {
  text-decoration: none;
}

.ProfileGoToFavoritesContainer {
  margin: 5px auto;
}

.ProfileGoToFavorites {
  margin: 5px auto;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.ProfileGoToFavorites a {
  color: white;
}

.ProfileGoToFavorites a :visited {
  color: white;
}

.ProfileEditButton {
  font-size: 16px;
  text-decoration: none;
  margin: auto 0px auto auto;
  color: var(--primary);
}
.ProfileAddFriendButtonContainer {
  margin: auto 0px auto auto;
}
.ProfileAddFriendButton {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.ProfileText {
  color: var(--primary);
}

.ProfileAddButton {
  border-radius: 10px;
  background: var(--primary);
  width: 25px;
  height: 25px;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin-left: 5px;
}

.ProfileAddButton a {
  text-decoration: none;
  color: white;
}

.FriendRequests {
  display: flex;
  flex-wrap: wrap;
}
