.FavoriteItemContainer {
  color: #56478f;

  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Tag {
  height: 27px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #56478f;
}
