.FavoriteItemPic {
  width: 10vw;
  height: 10vw;
  border-radius: 10%;
  object-fit: cover;
}

#FavoriteItemStars {
  font-size: 2vw;
}

.FavoriteItemContainer {
  color: var(--primary);

  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.FavoriteItemLeftCol {
  margin: var(--m);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.FavoriteItemRightCol {
  padding: 0 var(--m);
  max-width: 70%;
  word-wrap: break-word;
}

.FavoriteItemSmallText {
  font-size: 16px;
  text-decoration: none;
  margin: auto 0px auto auto;
}
.Tag {
  height: 19px;
  font-size: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  margin: 10px 4px 5px 0px;
  background: var(--tagcolor);
  color: white;
}
