.ProfileFriendRequest {
  text-decoration: none;
  margin: auto 0px auto auto;
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProfilFriendRequestPic {
  width: 25px;
  height: 25px;
  justify-content: center;
  padding: 1px;
  border-radius: 100%;
}
