.NavBar {
  width: 100%;
  flex-shrink: 0;
  background: #56478f;
  flex: auto;
  padding: 5px;
}

.NavBarItem {
  color: #fff;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: var(--s);
  display: inline-flex;
}

.NavBarGoogleAuth {
  display: inline-flex;
  margin-right: 10px;
  padding: var(--s);
}
