.NavBar {
  width: 100%;
  flex-shrink: 0;
  background: #56478f;
  display: flex;
  align-items: center;
  padding: 0px;
  position: fixed;
}

.NavBarItem {
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px;
  display: inline-flex;
}

.NavBarMenuButton {
  display: flex;
  flex-direction: column;
  background-color: #56478f;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.NavBarMenuLine {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 2px;
  border: none;
  border-radius: 1px;
}

.NavBarMenuDropdown {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
}

.NavBarMenu:hover .NavBarMenuDropdown {
  display: block;
  width: 100px;
  background-color: var(--primary--dark);
}

.NavBarMenuDropdown a {
  display: block;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.NavBarMenuDropdown a:hover {
  background-color: var(--primary--light);
  color: var(--primary--dark);
}

.NavBarTitle {
  font-size: 20px;
  margin: var(--s) auto var(--s) auto;
  text-decoration: none;
}

.NavBarGoogleAuth {
  display: inline-flex;
  margin: 0px var(--s) 0px;
  padding: var(--s) var(--s) 0px;
  flex-shrink: 1;
  background-color: var(--primary);
}

.button {
  border: none;
  border-radius: 10px;
  height: 25px;
  font-family: Lato;
  cursor: pointer;
  background-color: var(--tagcolor);
  color: white;
}
