.UtilBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--s);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.UtilBarItem {
  flex: auto;
  margin: 0 var(--s);
}

.UtilBarFilter {
  padding: 4.5px;
  width: 58px;
}

.UtilBarButton {
  border-radius: 10px;
  background: #56478f;
  height: 27px;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.UtilBarPopupText {
  visibility: hidden;
  background-color: #56478f;
  width: 160px;
  text-align: center;
  display: block;
  padding: var(--s);
  position: relative;
  z-index: 1000;
  margin: auto;
}

.UtilBarFilter .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SearchBar {
  width: 80%;
  height: 27px;
  flex-shrink: 0;
  color: #56478f;

  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: rgba(86, 71, 143, 0.4);
  border: none;
  padding: 0px var(--s);
}

.AddButton {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #56478f;
}
