.UtilBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.UtilBarItem {
  flex: auto;
  margin: var(--s);
}

.UtilBarFilter {
  padding: 4.5px;
  width: 55px;
  flex: none;
}

.UtilBarButton {
  border-radius: 10px;
  background: var(--primary);
  height: 27px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.UtilBarPopupTextContainer {
  margin: 0 20vw 0 20vw;
  width: 40vw;
}

.UtilBarPopupText {
  visibility: hidden;
  background-color: var(--primary);
  text-align: center;
  display: block;
  padding: var(--s);
  position: relative;
  z-index: 1000;
  margin: auto;
}

.UtilBarFilter .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SearchBar {
  width: 80%;
  height: 26px;
  flex-shrink: 1;
  color: var(--primary);

  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: var(--primary--dim);
  border: none;
  margin: var(--s);
}

.AddButton {
  width: 27px;
  height: 27px;
  flex: none;
  border-radius: 30px;
  background: var(--primary);
  margin: var(--s);
}

.tagButton {
  background-color: var(--tagcolor);
  color: white;
  border: none;
  border-radius: 10px;
  margin: 0px 5px 5px 0px;
}

.TagButtons {
  display: flex;
  justify-content: center;
}
